<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <script src="../../assets/js/load.js" defer></script>
  <div id="loaded-header"></div>
  <body>
    <div class="container">
      <div class="offset-sm-2 col-sm-8 mt-5 cardy">
        <div class="card alert-primary">
          <div class="card-body">
            Nagivation work to page 2
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <a href="../../index.html" class="btn btn-success">Back to home</a>
      </div>
    </div>
  </body>
</html>
